body {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

#menu-container {
    height: 100%;
    width: 250px;
    background: #4E3239 0% 0% no-repeat padding-box;
    padding: 10px 0 0 0;
    position: fixed;
    color: white;
    font-size: 10pt;
}
.menu-header {
    padding-left: 10px;
}
.profile-pic {
    width : 60px; height : 60px;
    border: none;
    -moz-border-radius : 75px;
    -webkit-border-radius : 75px;
    border-radius : 75px;
}

.aside-profile-pic {
    padding-left: 5px;
}

.username {
    display: block;
    font-weight: 600;
    padding: 10px 0 5px 0;
}

.logoff {
    color: #C3375D;
}

.collapse-button-container {
    padding: 20px 0 0 25px;
}


.button {
    background-color: #2B4D75;
    border-color: #2B4D75;
    color: white;

}

.menu {
    padding: 30px 0 0 0;
}

.link-profile {
    padding: 0 0 10px 0;
}

.collapse-profile-button {
    margin: 5px 0 0 110px;
}

.collapse-admin-button  {
    margin: 5px 0 0 85px;
}

.menu-title {
  padding: 0 0 15px 15px;
  font-size: 11pt;
}

.menu-link {
    display: block;
    padding: 0 0 10px 25px;
    font-size: 10pt;
}

.menu-footer {
    bottom: 0px;
    position: absolute;
    background-color: black;
    padding: 15px 0 25px 0;
    width: 100%;
    font-size: 8pt;
}
.menu-footer-line {
    padding: 5px 0 0 15px;
}

.menu-footer-title {
    color: #AE838F;
    font-weight: 600;
}

.menu-footer-content {
    color: #AE838F
}